# {{ ansible_managed }}
[Unit]
Description=Auto-mate

[Service]
Type=simple
Restart=always
User=nobody
Group=nobody
WorkingDirectory=/opt/automate
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target
